.post-comments {
  @include card-shadow;

  padding: 20px 40px 60px;

  .main-card-title {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
    margin-bottom: 14px;
    color: #888;
  }
}

.comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  ul {
    list-style-type: none;
    padding-left: 65px;
    margin: 0;
  }
}

.comment {
  position: relative;
  min-height: 50px;
  margin: 20px 0 30px;

  .comment-img {
    position: absolute;

    img {
      @include profilepic-styles(45px);
    }
  }

  .comment-body {
    padding-left: 70px;
    padding-top: 4px;
  }

  .comment-content {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 10px;


    &.new {
      border: solid 1px #ddd;
      position: relative;
      border-radius: 3px;
      transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border: solid 10px transparent;
        position: absolute;
        left: -20px;
        right: 0;
        top: 10px;
        bottom: 0;
        border-right: solid 10px #fff;
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        border: solid 11px transparent;
        position: absolute;
        left: -22px;
        right: 0;
        top: 9px;
        bottom: 0;
        border-right: solid 11px #ddd;
      }

      .form-group {
        margin-bottom: 0;
      }

      .new-comment-textarea {
        border: 0;
        box-shadow: none;
        transition: all .3s ease-out;
        height: 45px;
        min-height: 45px;
      }
    }
  }

  .comment-meta {
    margin-bottom: 5px;

    .timeago {
      border: 0;
      font-size: 12px;
      color: #888;
      margin-left: 15px;
      font-weight: 300;
    }
  }

  .comment-actions {
    a {
      margin-right: 10px;
    }
  }

  .comment-author-name {
    text-transform: uppercase;
    font-weight: normal;
  }

  .comment-vote-up, .comment-vote-down {
    font-size: 13px;
    margin-right: 20px;
    cursor: pointer;

    i {
      @include vote-button(22px);

      font-size: 11px;
    }
  }

  .comment-reply-link {
    &:before {
      content: '|';
      color: #ccc;
    }

    a {
      margin-left: 18px;
    }
  }
}
