.help-request {
  border-top: solid 5px #4CAF50;
}

.help-offered {
  border-top: solid 5px #FF5722;
}

.help-type {
  .radio {
    display: inline-block;
    margin-right: 20px;
    label {
      font-size: 17px;
      font-weight: 200;
    }
  }
}

.post-item-title {
  h1 {
      font-size: 35px;
      font-weight: 300;
      line-height: 1.23;
      margin: 0 0 5px;
    }
}

.info-box {
  min-height: 100px;
  background: #efefea;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-top-width: 3px;

  background: #EFF6E6;
  border-color: #e5f1d7;
  color: #739C3C;
  border-radius: 3px;

  font-size: 16px;
  font-family: $font-family-serif;
  line-height: 1.7;

  .info-box-title {
    font-size: 16px;
    font-family: $font-family-serif;
    font-weight: bold;
    margin-bottom: 6px;
  }
}