.page {
  margin-bottom: 20px;
}
.carousel {
  margin-bottom: 46px;
  .carousel-control {
    width: 40px;
    background: #fff;
    line-height: 150px;
    color: #000;
  }
  .item {
    margin-left: 54px;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

// Menu
.filters {
  padding: 0;
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: solid 1px $gray-lighter;
}

.filter-menu {
  list-style-type: none;
  //float: right;
  padding: 20px 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 20px;
    }
  }
}

.filter-menu-item {
  display: inline-block;
  text-transform: uppercase;
  color: $gray-light;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.active {
    font-weight: bold;
    color: $gray-base;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -10px;
      right: -10px;
      height: 3px;
      background: $brand-primary;
      bottom: -20px;
    }
  }
}
