.page.new {
  margin: 40px 0;
}

.new-card {
  padding: 40px;

  @include card-shadow;
}

.cover-upload-button {
  margin: 0 auto;
  display: block;
  width: 90px;
  margin-top: 175px;
}

.guide-new-header {
  height: 300px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: image-url("upload-cover.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  color: $white;
  margin: -40px -40px 30px;
  border-radius: 3px 3px 0 0;
  position: relative;
  .cu-status {
    &:before {
      content: "";
      display: block;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: dashed 2px #C7C4C4;
      position: absolute;
    }
    .loader {
      position: absolute;
      left: 50%;
      margin-left: -10px;
      top: 82px;
      display: none;
    }
    &.fileupload-start {
      .loader {
        display: block;
      }
    }
    &.fileupload-stop {
      .loader {
        display: none;
      }
      .cover-upload-button {
        display: none;
      }
      &:before {
        content: '';
        border: 0;
      }
    }
  }
}

.links {
  margin-top: 40px;
}

hr.divider {
  margin: 30px -40px;
  border-top: dashed 1px #ddd;
  position: relative;

  &:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    border: solid 10px transparent;
    border-left: solid 10px #DDD;
    top: -11px;
  }
  &:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    border: solid 10px transparent;
    border-right: solid 10px #DDD;
    top: -11px;
  }
}


.add-new-section-btn {
  background: #eeeeee;
  border: solid 1px #C7C7C7;
  margin: 0 auto;
  display: block;

  text-align: center;
  border-radius: 6px;
  font-size: 40px;
  font-weight: 300;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 100%;
  color: #888;
  position: relative;
  cursor: pointer;
  &:after {
    content: 'Add new section';
    display: block;
    font-size: 15px;
    line-height: 20px;
    width: 200px;
    position: absolute;
    left: -73px;
    bottom: -24px;
  }
  &:hover, &:active, &:focus {
    color: #999;
    text-decoration: none;
  }
}

.form-actions {
  padding: 30px 0 50px;
}

.section-form-fields {
  margin-top: 60px;
}

.remove_fields {
  position: absolute;
  right: 0;
  top: 23px;
  color: #888;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: solid 1px #888;
  text-align: center;
  line-height: 35px;
  background: #f8f8f8;
  cursor: pointer;
  &:hover {
    background: #ccc;
    border: solid 1px #888;
    font-size: 18px;
    color: #333;
    i {
      cursor: pointer;
    }
  }
}

.guide-sections {
 counter-reset: section-counter;
  .nested-fields {
    counter-increment: section-counter;
    position: relative;
    &:before {
      content: "Section "counter(section-counter);
      position: absolute;
      height: 30px;
      width: 84px;
      background: #f8f8f8;
      text-align: center;
      line-height: 30px;
      border: solid 1px #ddd;
      border-radius: 0 4px 4px 0;
      left: -40px;
      top: 19px;
      font-size: 13px;
      border-left: 0;
      color: #666;
    }
  }
}
