body {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

.container > h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.navbar {
  background: #26A69A;
  border: 0;
  .navbar-brand {
    color: white;
  }

  ul.navbar-nav > li > a {
    color: white;
  }
}

.card {
  padding: 30px;
  box-shadow: 0 0 5px #888;
  margin: 30px 0;
}

.button-on-image{
  border: 1px solid #26A69A;
  background-color: #26A69A;
}

// Panel
.panel {
  height: 165px;
  margin: 0 0 30px;
  box-shadow: 0 0 10px #DDD;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
  .panel-body {
    background: url("/assets/Bank_image.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 80%;
    position: relative;
    //border-radius: 2px;
    color: white;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    text-align: center;
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 999;
    }
    i:hover {
      color: #26A69A;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      height: 100%;
      width: 100%;
      opacity: 0.40;
      z-index: 1;
    }
  }
  .panel-body:hover {
    background-size: 350px;
  }
  .panel-footer {
    height: 20%;
    font-size: 14px;
    background-color: white;
    color: black;
    div {
      display: inline-block;
    }
    .postType {

    }
    .rating {
      margin: 0 10px 0 10px;
      float: right;
    }
    .upVotes {
      margin-right: 10px;
    }
    .downVotes {
      margin-left: 10px;
    }
  }
}
.panel:first-child {
  margin-left: 0;
}

.panel:last-child {
  margin-right: 0;
}

.navbar-inverse {
  background: #26A69A;
  border: 0;
  .navbar-brand {
    color: white;
  }
  ul.navbar-nav {
    li a {
      margin: 0 10px;
      color: white;
    }
  }
}