body {
  padding-top: 50px;
}

.main {
  min-height: 600px;
}

.container-fluid {
  max-width: 1250px;
}

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity = 0);
    opacity: 0;
    outline: none;
    background: $white;
    cursor: inherit;
    display: block;
  }
}

.hide {
  opacity: 0;
}

.type-guide {
    background: #821177;
}

.type-event {
    background: #039be5;
}

.type-help {
    background: #689f38;
}