// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{

    .profile-cover{
        position: relative;
    }

    .cover-image{
        display: block;
        position: relative;
    }

    .cover-image .cover-link{
        height: 430px;
        display: block;
        position: relative;
        overflow: hidden;
        text-decoration: none;
    }

    .cover-image img{
        width: 100%;
        min-width: 100%;
        position: absolute;
        left: 0;
    }

    .cover-overlay{
        background-color: #000;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .profile-details{
        text-align: center;
        position: absolute;
        top: 0;
        height: 430px;
        color: #fff;
    }

    .profile-image{
        margin-bottom: 9px;
    }

    .profile-image .profile-link{
        padding: 2px;
        overflow: hidden;
        text-decoration: none;
    }

    .profile-image img{
        width: 170px;
        height: 170px;
        border-radius: 80px;
        margin-top: 30px;
    }

    .profile-details .name span{
        margin: 9px 0;
        display: inline-block;
        font-size: 35px
    }

    .profile-details .description span{
        margin: 9px 0;
        display: inline-block;
        width: 40%
    }

    .profile-details .contact span{
        margin: 9px 0;
        display: inline-block;
        width: 40%
    }

    .profile-details .edit-profile{
        margin: 9px 0 18px 0;
    }

    .post-type{
        margin-bottom:0
    }

    .post-type ul.navbar-nav{
        width: 100%;
    }

    .post-type ul.navbar-nav li{
        width: 33.33333%;
        text-align: center;
        font-size: 26px
    }

    .post-container{
        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
            background-color: #26A69A;
            border: 0;
            border-bottom: 5px solid white;
            margin: 0 85px 5px 85px
        }

        .posts{
            padding-top: 12px
        }

        .posts .title{
            text-align: center
        }

        .posts .post-panel{
            padding: 10px 0;
        }
    }


}