// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{

    .profile-cover{
        position: relative
    }

    .cover-image{
        display: block;
        position: relative
    }

    .cover-image .cover-link{
        height: 430px;
        display: block;
        position: relative;
        overflow: hidden;
        text-decoration: none
    }

    .cover-image img{
        width: 100%;
        min-width: 100%;
        position: absolute;
        left: 0
    }

    .cover-overlay{
        background-color: #000;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0
    }

    .profile-details{
        width: 100%;
        position: absolute;
        bottom: -50px;
        color: #fff
    }

    .name{
        display: inline-block;
        position: absolute;
        bottom: 47px;

        .nickname{
            font-size: 20px !important
        }
    }

    .profile-image{
        margin-bottom: 9px;
        display: inline-block;
        margin-left: 45px;
        margin-right: 10px;
    }

    .profile-image .profile-link{
        padding: 2px;
        overflow: hidden;
        text-decoration: none
    }

    .profile-image img{
        border: 5px solid #fff;
        width: 140px;
        height: 140px;
        border-radius: 80px;
        margin-top: 30px;
        box-shadow: 2px 2px 12px #888;
        -webkit-box-shadow: 2px 2px 12px #888;
        -o-box-shadow: 2px 2px 12px #888;
        -moz-box-shadow: 2px 2px 12px #888
    }

    .profile-page{
        margin-top: 57px;
        margin-bottom: 20px
    }

    .info {
        .panel.panel-white{
            box-shadow: 1px 1px 6px #aaa;
            -webkit-box-shadow: 1px 1px 6px #aaa;
            -o-box-shadow: 1px 1px 6px #aaa;
            -moz-box-shadow: 1px 1px 6px #aaa
        }

        .panel-white > .panel-heading{
            background-color: #fff;
            border-color: #fff;
            color: #337ab7;
        }
        .panel-white > .panel-body{
            padding-top: 0
        }

        .social-media-link img{
            width: 50px;
            height: 50px;
        }
    }

    .profile-details span{
        margin: 9px 0
    }

    .profile-details input:not([type=submit]){
        background: transparent;
        // border: 1px solid #eee;
        border: 0;
        outline: none;
        margin: 9px 2px
    }

    .profile-details .name span, .profile-details .name input.first-name{
        text-align: right;
        margin-right: 5px
    }

    .profile-details .name span, .profile-details .name input{
        display: inline-block;
        font-size: 35px
    }

    .profile-details .description span, .profile-details .description input{
        display: inline-block;
        width: 40%
    }

    .profile-details .contact span, .profile-details .contact input{
        display: inline-block
    }

    .profile-image .profile-link-upload{
        display:none
    }

    .profile-details .edit-profile,
    .profile-details .save-profile{
        margin: 9px 0 18px 0;
        position: absolute;
        right: 15px;
        bottom: 47px
    }

    .post-type{
        margin-bottom:0
    }

    .post-type ul.navbar-nav{

    }

    .post-type ul.navbar-nav li{
        min-width: 100px;
        font-size: 16px;
        text-transform: uppercase;

        &.active {
            font-weight: bold;
            color: $gray-base;

            &::after {
                content: "";
                position: absolute;
                left: -10px;
                right: -10px;
                height: 3px;
                background: $brand-primary;
            }
        }
    }

    .post-container{
        .nav-tabs{
            border: 0
        }

        .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{
            padding-bottom: 10px
        }

        .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            border: 0
        }

        .posts{
            padding-top: 12px
        }

        .posts .title{
            text-align: center
        }

        .posts .post-panel{
            padding: 10px 0;
        }

        .filters{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .sort{
            float: right;
            margin: 10px 15px
        }
    }
}

.page.edit {
    margin: 40px 0;
}
.edit-form {
    padding: 40px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    background: #fff;
}

.simple_form {
    .form-group.half-width{
        width: 50%
    }
    .form-group.half-width{
        width: 49%
    }
    .form-group.quarter-width{
        width: 25%
    }
    .form-group.quarter-width{
        width: 24%
    }
    .form-group.inline-block{
        display: inline-block;
        margin-right: 10px
    }
}