.small {
  .card {
    @include card-shadow();
    &:hover {
      .card-footer {
      }
    }
    .post-stats .votes i {
      height: 15px;
      width: 15px;
      line-height: 17px;
      margin: 6px 3px;
      font-size: 9px;
    }
    .card-body {
      height: 150px;
    }
    .card-footer {
      padding: 2px 15px;
    }
    .card-title h4 {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card {
  @include card-shadow();
  overflow: hidden;
  margin-bottom: 30px;

  &:hover {
    transition: all 0.33s ease-in;
    .card-type {
      -webkit-transition: all 0.33s ease-in;
    }
  }
}

.card-type {
  position: absolute;
  padding: 2px 8px;
  color: $white;
  z-index: 200;
  border-radius: 3px;
  top: 15px;
  left: 25px;
  font-size: 12px;
  transition: all 0.33s ease-in;

  &.guide {
    background: #821177;
  }

  &.help {
    background: #689f38;
    &.required {

    }
    &.needed {

    }
  }
  &.event {
    background: #039be5;
  }
}

.card-body {
  height: 230px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: image-url('missing.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.43));
  }
}

.card-title {
  position: absolute;
  bottom: 10px;
  padding: 0 15px;
  width: 100%;

  h4 {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.43;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.card-footer {
  padding: 12px 15px;
  overflow: hidden;
}

.post-stats {
  .votes {
    i {
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background: #efefea;
      line-height: 25px;
      text-align: center;
      margin-right: 3px;
      color: #888;
    }

    margin-left: 15px;
  }
}

.side-card {
  padding: 20px;
}

.side-card-title {
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
  margin-bottom: 14px;
  color: #888;
}


.user-acted {
  span {
    font-size: 12px;
    line-height: 25px;
    color: #888;
  }
}

.users-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-right: 6px;
    display: inline-block;

    &:last-child {
      margin-right: 5px;
    }
  }

  img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
  }
}
