
@mixin card-shadow {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  background: $white;
}


@mixin vote-button($size) {
  display: inline-block;
  height: $size;
  width: $size;
  border-radius: 100%;
  background: #efefea;
  line-height: $size;
  text-align: center;
  margin-right: 10px;
  color: #888;
}

@mixin profilepic-styles($size) {
  height: $size;
  width: $size;
  border-radius: 100%;
  border: solid 1px #ccc;
  padding: 1px;
  background: #fff;
}
