<!-- The template to display files available for upload -->
<script id="comment-display" type="text/x-tmpl">
<li>
<div class="comment">
  <div class="comment-img">
  <img src="{%=o.user.picture%}" />
  </div>
  <div class="comment-body">
    <div class="comment-meta">
      <a class="comment-author-name" href="/users/{%=o.user.id%}">{%=o.user.full_name%}</a>
      <span class="text-muted">
        {%#o.meta.timeago%}
      </span>
    </div>
    <div class="comment-content">
      {%=o.body%}
    </div>

    <div class="comment-actions">
      <span class="comment-vote-up">
        <i class="i-arrow-up2"></i>
        <span class="js-comment-upvotes">
          {%= o.stats.upvotes%}
        </span>
      </span>
      <span class="comment-vote-down">
        <i class="i-arrow-down2"></i>
        <span class="js-comment-downvotes">
          {%= o.stats.downvotes%}
        </span>
      </span>
      <span class="comment-reply-link">
        <a class="js-reply-link" data-comment-parent="{%=o.meta.parent%}" data-comment-url="{%=o.meta.url%}" data-picture="{%=o.user.picture%}" data-post-id="{%=o.meta.post_id%}" data-user-id="{%=o.user.id%}" data-user-name="{%=o.user.full_name%}" href="">Reply</a>
      </span>
    </div>
  </div>
</div>
<ul>
  <div class="form">
  </div>
  <div class="js-child-comments">
  </div>
</li>
</script>
